.rectangle
{
    position: absolute;
    top: 50%;
    left: 50%;
    width:200px;
    height:100px;
    background:blue;
}

.skibidi
{
    position: absolute;
    top: 28%;
    left: 40%;

    height: 60vh;
    width: 30%;
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px;
    margin: auto;

}

.oval {
    position: absolute;
    height: 130px;
    width: 100%;
    border-radius: 50%;
    background-color: green;
    border: 3px solid black;
    margin: auto;
}